<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Featuredproduct>
            <version>0.1.0</version>
        </Themevast_Featuredproduct>
    </modules>
    <frontend>
        <routers>
            <featuredproduct>
                <use>standard</use>
                <args>
                    <module>Themevast_Featuredproduct</module>
                    <frontName>featuredproduct</frontName>
                </args>
            </featuredproduct>
        </routers>
        <layout>
            <updates>
                <featuredproduct>
                    <file>themevast/featuredproduct.xml</file>
                </featuredproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<featuredproduct>
				<use>admin</use>
				<args>
					<module>Themevast_Featuredproduct</module>
					<frontName>featuredproduct</frontName>
				</args>
			</featuredproduct>
        </routers>
    </admin>
    <global>
        <models>
            <featuredproduct>
                <class>Themevast_Featuredproduct_Model</class>
                <resourceModel>featuredproduct_mysql4</resourceModel>
            </featuredproduct>
            <featuredproduct_mysql4>
                <class>Themevast_Featuredproduct_Model_Mysql4</class>
            </featuredproduct_mysql4>
        </models>
        <resources>
            <featuredproduct_setup>
                <setup>
                    <module>Themevast_Featuredproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </featuredproduct_setup>
            <featuredproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </featuredproduct_write>
            <featuredproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </featuredproduct_read>
        </resources>
        <blocks>
            <featuredproduct>
                <class>Themevast_Featuredproduct_Block</class>
            </featuredproduct>
        </blocks>
        <helpers>
            <featuredproduct>
                <class>Themevast_Featuredproduct_Helper</class>
            </featuredproduct>
        </helpers>
    </global>
	<default>
		<featuredproduct>
			<general>
			    <enabled>1</enabled>
			    <title></title>
			    <slide>1</slide>
			     <autoPlay>0</autoPlay>
                <navigation>0</navigation>
                <pagination>0</pagination>
                <slideSpeed>600</slideSpeed>
                <stopOnHover>1</stopOnHover>
                <rows>2</rows>
                <loop>1</loop>   
                <responsive>0:{items:1},480:{items:2},768:{items:2},1000:{items:2}</responsive>
                <margin>30</margin>
			    <playDelay>500</playDelay>
			    <price>1</price>
			    <cart>0</cart>
			    <wishlist>0</wishlist>
			    <compare>0</compare>
			    <review>0</review>
			    <qty>16</qty>
			    <widthImage>300</widthImage>
			    <heightImage>300</heightImage>
			</general>
		</featuredproduct>
	</default>
</config>

