<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Brandlogo>
            <version>0.1.0</version>
        </Themevast_Brandlogo>
    </modules>
    <frontend>
        <routers>
            <brandlogo>
                <use>standard</use>
                <args>
                    <module>Themevast_Brandlogo</module>
                    <frontName>brandlogo</frontName>
                </args>
            </brandlogo>
        </routers>
        <layout>
            <updates>
                <brandlogo>
                    <file>themevast/brandlogo.xml</file>
                </brandlogo>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<brandlogo>
				<use>admin</use>
				<args>
					<module>Themevast_Brandlogo</module>
					<frontName>brandlogo</frontName>
				</args>
			</brandlogo>
        </routers>
    </admin>   
    <global>
        <models>
            <brandlogo>
                <class>Themevast_Brandlogo_Model</class>
                <resourceModel>brandlogo_mysql4</resourceModel>
            </brandlogo>
            <brandlogo_mysql4>
                <class>Themevast_Brandlogo_Model_Mysql4</class>
                <entities>
                    <brandlogo>
                        <table>brandlogo</table>
                    </brandlogo>
                </entities>
            </brandlogo_mysql4>
        </models>
        <resources>
            <brandlogo_setup>
                <setup>
                    <module>Themevast_Brandlogo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brandlogo_setup>
            <brandlogo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brandlogo_write>
            <brandlogo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brandlogo_read>
        </resources>
        <blocks>
            <brandlogo>
                <class>Themevast_Brandlogo_Block</class>
            </brandlogo>
        </blocks>
        <helpers>
            <brandlogo>
                <class>Themevast_Brandlogo_Helper</class>
            </brandlogo>
        </helpers>
    </global>
	<default>
		<brandlogo>
			<brandlogo>
				<enabled>1</enabled>
				<autoPlay>1</autoPlay>
				<slideSpeed>600</slideSpeed>
				<stopOnHover>1</stopOnHover>
				<description>0</description>
				<rows>1</rows>
				<items>9</items>
				<navigation>1</navigation>
				<pagination>0</pagination>
                <loop>1</loop>   
                <responsive>0:{items:2},480:{items:3},768:{items:4},1000:{items:5}</responsive>
                <margin>50</margin>  
			</brandlogo>
		</brandlogo>
	</default>
</config>

