<?xml version="1.0"?>
<config>
    <modules>
        <Themevast_Upsellslider>
            <version>0.1.0</version>
        </Themevast_Upsellslider>
    </modules>
    <frontend>
        <layout>
            <updates>
                <upsellslider>
                    <file>themevast/upsellslider.xml</file>
                </upsellslider>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <upsellslider>
                <class>Themevast_Upsellslider_Block</class>
            </upsellslider>
            <catalog>
                <rewrite>
                    <product_list_upsell>Themevast_Upsellslider_Block_Catalog_Product_List_Upsell</product_list_upsell>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <upsellslider>
                <class>Themevast_Upsellslider_Model</class>
            </upsellslider>
        </models>
        <helpers>
            <upsellslider>
                <class>Themevast_Upsellslider_Helper</class>
            </upsellslider>
        </helpers>
    </global>
    <default>
        <upsellslider>
			<general>
			    <enabled>1</enabled>
			    <title>YOU MIGHT ALSO LIKE</title>
                <autoPlay>0</autoPlay>
                <navigation>1</navigation>
                <pagination>0</pagination>
                <slideSpeed>600</slideSpeed>
                <stopOnHover>1</stopOnHover>
                <rows>1</rows>
                <loop>1</loop>   
                <responsive>0:{items:1},480:{items:2},768:{items:3},1000:{items:4}</responsive>
                <margin>30</margin>
			    <price>1</price>
			    <cart>1</cart>
			    <review>0</review>
			    <qty>15</qty>
			    <widthImage>300</widthImage>
			    <heightImage>300</heightImage>
			</general>
        </upsellslider>
    </default>
</config>

