<?xml version="1.0"?>
<config>
    <modules>
        <Custom_Designer>
            <version>1.4.5</version>
        </Custom_Designer>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <customdesigner after="Mage_Adminhtml">Custom_Designer_Adminhtml</customdesigner>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <designer>
                <use>standard</use>
                <args>
                    <module>Custom_Designer</module>
                    <frontName>designer</frontName>
                </args>
            </designer>
        </routers>
        <layout>
            <updates>
                <designer module="Custom_Designer">
                    <file>custom_designer.xml</file>
                </designer>
            </updates>
        </layout>
<!--        <translate>
            <modules>
                <AW_Blog>
                    <files>
                        <default>AW_Blog.csv</default>
                    </files>
                </AW_Blog>
            </modules>
        </translate>-->
    </frontend>

    <adminhtml>
<!--        <translate>
            <modules>
                <Custom_Designer>
                    <files>
                        <default>AW_Blog.csv</default>
                    </files>
                </Custom_Designer>
            </modules>
        </translate>-->

        <menu>
            <designer module="designer">
                <title>Designer</title>
                <sort_order>71</sort_order>
                <children>
                    <new module="designer">
                        <title>Add Designer</title>
                        <sort_order>0</sort_order>
                        <action>adminhtml/customdesigner_manage_designer/new</action>
                    </new>
                    <designers module="designer">
                        <title>Designers</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/customdesigner_manage_designer/index</action>
                    </designers>
                </children>
            </designer>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <designer>
                            <title>Designers</title>
                            <sort_order>70</sort_order>
                            <children>
                                <designers>
                                    <title>Manage Designers</title>
                                    <sort_order>0</sort_order>
                                </designers>
                            </children>
                        </designer>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <designer>
                                            <title>Designer</title>
                                        </designer>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <designer module="Custom_Designer">
                    <file>custom_designer.xml</file>
                </designer>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <designer>
                <class>Custom_Designer_Model</class>
                <resourceModel>designer_mysql4</resourceModel>
            </designer>
            <designer_mysql4>
                <class>Custom_Designer_Model_Mysql4</class>
                <entities>
                    <designer>
                        <table>designer</table>
                    </designer>
                    <designers>
                        <table>designer</table>
                    </designers>
                </entities>
            </designer_mysql4>
<!--            <sitemap>
                <rewrite>
                    <sitemap>AW_Blog_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>-->
        </models>
        <blocks>
            <designer>
                <class>Custom_Designer_Block</class>
            </designer>
            <home>
                <class>Custom_Designer_Block</class>
            </home>
<!--            <rss>
                <rewrite></rewrite>
                <drewrite>
                    <list>AW_Blog_Block_Rss_List</list>
                </drewrite>
            </rss>-->
<!--            <page>
                <rewrite></rewrite>
                <drewrite>
                    <html_footer>AW_Blog_Block_Html_Footer</html_footer>
                </drewrite>
            </page>-->
        </blocks>
        <resources>
            <designer_setup>
                <setup>
                    <module>Custom_Designer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </designer_setup>
            <designer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </designer_write>
            <designer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </designer_read>
        </resources>
        <helpers>
            <designer>
                <class>Custom_Designer_Helper</class>
            </designer>
        </helpers>
<!--        <events>
            <controller_front_init_routers>
                <observers>
                    <blog>
                        <type>singleton</type>
                        <class>AW_Blog_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </blog>
                </observers>
            </controller_front_init_routers>
            <controller_action_predispatch>
                <observers>
                    <blog>
                        <type>singleton</type>
                        <class>blog/observer</class>
                        <method>rewritesEnable</method>
                    </blog>
                </observers>
            </controller_action_predispatch>
            <sitemap_add_xml_block_to_the_end>
                <observers>
                    <add_blog_section>
                        <type>singleton</type>
                        <class>blog/observer</class>
                        <method>addBlogSection</method>
                    </add_blog_section>
                </observers>
            </sitemap_add_xml_block_to_the_end>
        </events>-->
<!--        <template>
            <email>
                <blog_comments_email_template translate="label" module="blog">
                    <label>Comment Submitted</label>
                    <file>aw_blog/comment_submitted.html</file>
                    <type>text</type>
                </blog_comments_email_template>
            </email>
        </template>-->
        <!-- compatibility with Magento 1.4.x -->
<!--        <page>
            <layouts>
                <empty>
                    <label>Empty</label>
                    <template>page/empty.phtml</template>
                    <layout_handle>page_empty</layout_handle>
                </empty>
            </layouts>
        </page>-->
        <!-- compatibility with Magento 1.4.x -->
    </global>
<!--    <default>
        <sitemap>
            <blog>
                <changefreq>weekly</changefreq>
                <priority>0.5</priority>
            </blog>
        </sitemap>
        <blog>
            <blog>
                <enabled>1</enabled>
                <title>Blog</title>
                <footerEnabled>1</footerEnabled>
                <menuRight>1</menuRight>
                <topEnabled>1</topEnabled>
                <blogcrumbs>1</blogcrumbs>
                <recent>5</recent>
                <dateformat>full</dateformat>
                <layout>page/2columns-right.phtml</layout>
                <comments>1</comments>
                <useshortcontent>1</useshortcontent>
                <rss>1</rss>
                <rssimage>images/BlogLogo.png</rssimage>
                <parse_cms>0</parse_cms>
                <categories_urls>1</categories_urls>
            </blog>
            <comments>
                <page_count>10</page_count>
            </comments>
            <menu>
                <category>1</category>
                <tagcloud_size>10</tagcloud_size>
            </menu>
        </blog>
    </default>-->
</config>
